<li class="media">
  <!-- Image -->
  <div class="media-body">
    <span class="text-muted pull-right">
      <small class="text-muted"></small>
    </span>
    <strong class="text-success"><!-- Name --></strong>
    <p>
      <!-- Content -->  
    </p>
  </div>
</li>
