<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <%= link_to t(".close"), "#", "data-dismiss" => "modal", class: "close" %>
      </div>
      <div id="body_modal" class="modal-body">
        
      </div>
      <div class="modal-footer">
        <%= link_to t(".close"), "#", "data-dismiss" => "modal", class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>
