<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <%= link_to t(".close"), "#", "class" => "close", "data-dismiss" => "modal"  %>
      </div>
      <div id="body_modal" class="modal-body">
        
      </div>
      <div class="modal-footer">
        <%= link_to t(".close"), "#", "class" => "btn btn-default", "data-dismiss" => "modal" %>
      </div>
    </div>
  </div>
</div>
