<% provide :title, t(".tour_detail") %>
<h1><%= t(".tour_detail") %></h1>

<table class="table table-striped">
  <tbody>
    <% @tourbookings.each do |tourbooking| %>
      <%= render partial: "tourbooking", locals: {tourbooking: tourbooking} %>
    <% end %>
  </tbody>
</table>
