<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <%= link_to t(".nameapp"), root_path, id: "logo" %>
      </ul>
    </nav>
  </div>
</header>
